{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Login
{% endblock %}
{% block css %}
    <!-- COmentario -->
{% endblock %}
{% block content %}
    <p class="login-box-msg">Entre para iniciar sua sessão</p>
    <form method="post">
        {% csrf_token %}
        {{ form| bootstrap }}
        <p class="text-center">
            <a href="{% url 'password_reset' %}" class="btn btn-link">Esqueci Minha Senha</a>
        </p>
        <div class="row center">
            <div class="col-xs-4 col-xs-offset-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
            </div>
        </div>
    </form>
{% endblock %}