{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Login
{% endblock %}
{% block css %}
    <!-- COmentario -->
{% endblock %}
{% block content %}
    <p class="login-box-msg">Recuperar Senha</p>
    <form method="post">
        {% csrf_token %}
        {{ form| bootstrap }}
        <div class="row center">
            <div class="col-xs-6 col-xs-offset-3">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar E-mail</button>
            </div>
        </div>
    </form>
{% endblock %}