{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Login
{% endblock %}
{% block css %}
    <!-- COmentario -->
{% endblock %}
{% block content %}
    {% if validlink %}
        <p class="login-box-msg">Recuperar Senha</p>
        <form method="post">
            {% csrf_token %}
            {{ form| bootstrap }}
            <div class="row center">
                <div class="col-xs-6 col-xs-offset-3">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Alterar Senha</button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger alert-dismissible">
            <h4><i class="icon fa fa-check"></i>Link Expirou! </h4>
            <a href="{% url 'login' %}">Este link para recuperação de senha expirou!</a>
        </div>
    {% endif %}
{% endblock %}