{% extends  'box.html' %}
{% load static %}
{% block title %}
    Financeiro
{% endblock %}

{% block page_title %}
    Financeiro
{% endblock %}
{% block page_description %}
    Listar
{% endblock %}
{% block box_classes %}
    no-padding responsive-table
{% endblock %}
{% block box_header %}
    <a href="{% url 'new_patient_financier' %}" class="btn btn-primary pull-right"><i class="fa fa-plus"> Novo Lançamento</i></a>
{% endblock %}
{% block box %}
    <style>
        td{
            vertical-align: bottom;
        }
    </style>
    <div class="container-fluid">
        <table id="table-contracts" class="table table-striped table-hover"  style="width:100%">
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Descrição</td>
                    <td>Valor Total</td>
                    <td>Valor Pago</td>
                    <td>Saldo Devedor</td>
                    <td>Forma de Pagamento</td>
                    <td>Número de Parcelas</td>
                    <td>Dia do Vencimento</td>
                    <td>Data de Edição</td>
                    <td>Hora de Edição</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                {% for financier in patients_financier %}
                    <tr>
                        <td>
                            {{ financier.id }}
                        </td>
                        <td>
                            {{ financier.description }}
                        </td>
                        <td>
                            {{ financier.amount }}
                        </td>
                        <td>
                            {{ financier.amount_paid }}
                        </td>
                        <td>
                            {{ financier.get_outstanding_balance }}
                        </td>
                        <td>
                            {{ financier.get_payment_form }}
                        </td>
                        <td>
                            {{ financier.plots }}
                        </td>
                        <td>
                            {% if financier.payday == None %}
                                ---
                            {% else %}
                                {{ financier.payday }}    
                            {% endif %}
                        </td>
                        <td>
                            {{ financier.change_date }}
                        </td>
                        <td>
                            {{ financier.change_hour }}
                        </td>
                        <td>
                            {{ financier.get_status }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        swal(
                            'Lançamento Cadastrado!',
                            '{{  message }}',
                            'success'
                        );
                    {% endif %}
                {% endfor %}
            {% endif %}
            $('#table-contracts').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ por Página",
                    "zeroRecords": "Nenhum Registro Financeiro",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum Lançamento Cadastrado",
                    "search":"Pesquisar",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próximo",
                    },
                    "infoFiltered": "(Filtrado de _MAX_ Lançamentos)"
                },
            });
        })
    </script>
{% endblock %}
{#{% block scripts %}#}
{#    {% if contracts|length > 0 %}#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>#}
{#        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>#}
{#        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>#}
{#        <script>#}
{#        $(document).ready( function () {#}
{#
{#        } );#}
{#        </script>#}
{#    {% endif %}#}
{#{% endblock %}#}