{% extends  'box.html' %}
{% load static %}
{% block title %}
    Financeiro
{% endblock %}

{% block page_title %}
    Financeiro
{% endblock %}
{% block page_description %}
    Listar
{% endblock %}
{% block box_classes %}
    no-padding responsive-table
{% endblock %}
{% block box_header %}
    <a href="{% url 'new_cost' %}" class="btn btn-primary pull-right"><i class="fa fa-plus"> Novo Lançamento</i></a>
{% endblock %}
{% block box %}
    <style>
        td{
            vertical-align: bottom;
        }
    </style>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_monthly" data-toggle="tab">Fluxo Mensal</a></li>
          <li><a href="#tab_all" data-toggle="tab">Cadastrados</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_monthly">
                {% if all.items %}
                    <ul class="timeline">
                        {% for key, values in all.items %}
                            <li class="time-label">
                                <span class="{% ifequal key today %}bg-blue{% else %}bg-gray{% endifequal %}">
                                    {{ key }}
                                </span>
                            </li>
                            {% for plot in values %}
                                <li>
                                    {% if plot.patient_financial %}
                                        <i class="fa fa-stethoscope {% if plot.paid_day%}bg-green{% else %}bg-red{% endif %}"></i>
                                    {% else %}
                                        <i class="fa fa-money {% if plot.paid_day%}bg-green{% else %}bg-red{% endif %}"></i>
                                    {% endif %}
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> {{ consultation.endTime }}</span>
                                        <span class="time"> - </span>
                                        <span class="time"><i class="fa fa-clock-o"></i> {{ consultation.startTime }}</span>

                                        <h3 class="timeline-header">{% if key < today %}Realizou{% else %}Realizará{% endif %} um(a) {{ consultation.procedure.name }}</h3>
                                        <div class="timeline-body">
                                            {{ consultation.description }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_all">
                <table id="table-contracts" class="table table-striped table-hover"  style="width:100%">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Tipo</td>
                            <td>Descrição</td>
                            <td>Valor Total</td>
                            <td>Forma de Pagamento</td>
                            <td>Número de Parcelas</td>
                            <td>Dia do Vencimento</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cost in costs %}
                            <tr>
                                <td>
                                    {{ cost.id }}
                                </td>
                                <td>
                                    {{ cost.get_cost_type | safe  }}
                                </td>
                                <td>
                                    {{ cost.description }}
                                </td>
                                <td>
                                    {{ cost.amount |floatformat:2}}
                                </td>
                                <td>
                                    {{ cost.get_payment_form }}
                                </td>
                                <td>
                                    {{ cost.num_plots }}
                                </td>
                                <td>
                                    {% if cost.payday == None %}
                                        ---
                                    {% else %}
                                        {{ cost.payday | date:"d"}}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ cost.get_status }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        swal(
                            'Lançamento Cadastrado!',
                            '{{  message }}',
                            'success'
                        );
                    {% endif %}
                {% endfor %}
            {% endif %}
            $('#table-contracts').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ por Página",
                    "zeroRecords": "Nenhum Registro Financeiro",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum Lançamento Cadastrado",
                    "search":"Pesquisar",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próximo",
                    },
                    "infoFiltered": "(Filtrado de _MAX_ Lançamentos)"
                },
            });
        })
    </script>
{% endblock %}
{#{% block scripts %}#}
{#    {% if contracts|length > 0 %}#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>#}
{#        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>#}
{#        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>#}
{#        <script>#}
{#        $(document).ready( function () {#}
{#
{#        } );#}
{#        </script>#}
{#    {% endif %}#}
{#{% endblock %}#}