{% extends  'box.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Financeiro
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}">
{% endblock %}
{% block page_title %}
    Financeiro
{% endblock %}
{% block page_description %}
    Listar
{% endblock %}
{% block col_classes %}
    col-lg-6 col-lg-offset-3
{% endblock %}
{% block box_classes %}
    no-padding responsive-table
{% endblock %}
{% block box_header %}
        <a href="{% url 'list_costs' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left">Voltar</i></a>
{% endblock %}
{% block box %}
    <form class="container-fluid" action="" method="POST">
        <div class="row">
            <div class="col-xs-12">
                {% csrf_token %}
                {{ cost_form | bootstrap }}
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12">
                <button type="submit" href="" class="btn btn-success pull-right">
                    Salvar
                </button>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{%  static 'inputmask/dist/jquery.inputmask.bundle.js' %} "></script>
    <script src="{%  static 'bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js' %} "></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        $('#id_num_plots').parent().parent().children("label").hide();
        $(document).ready(function () {
            $('#id_payday').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                orientation: 'bottom'
            });
            $('#id_amount').inputmask({mask:"9{+},99"});
            $('#id_backgroundColor').colorpicker();
            $('#id_textColor').colorpicker();
            $('#id_payment_form').change(function(){
                if($(this).val()=="True") {
                    $('#id_num_plots').hide(200);
                    $('#id_num_plots').val(1);
                    $('#id_num_plots').parent().parent().children("label").hide(200);
                }else{
                    $('#id_num_plots').show(200);
                    $('#id_num_plots').parent().parent().children("label").show(200);
                }
            });
        
            $('#id_payday').inputmask({regex: "^([0-2][0-9]|(3)[0-1])(\\/)(((0)[0-9])|((1)[0-2]))(\\/)\\d{4}$",
                                    placeholder: "dd/mm/aaaa"}); //Date
            $('#id_amount').inputmask({regex: "\\d+(\\.\\d{1,2})?"});  // decimal .2
            $('#id_num_plots').inputmask({regex: "(([0-9])|((1)[0-2]))"});  // 0 - 12
        });
    </script>
{% endblock %}