{% extends  'box.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Endereços
{% endblock %}

{% block page_title %}
    Endreços
{% endblock %}
{% block page_description %}
    Novo
{% endblock %}
{% block col_classes %}
    col-lg-6 col-lg-offset-3
{% endblock %}
{% block box_classes %}
    no-padding responsive-table
{% endblock %}
{% block box_header %}
        <a href="{% url 'get_address' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left">Voltar</i></a>
{% endblock %}
{% block box %}
    <form class="container-fluid" action="" method="POST">
        <div class="row">
            <div class="col-xs-12">
                {% if form.errors %}
                    {% for field in form %}
                        {% for dic in field.errors.as_data %}
                            {% if dic.code == 'required' %}
                                    <div class="alert alert-danger">
                                        <strong>O campo "{{ field.label |escape}}" é obrigatório.</strong>
                                    </div>
                            {% endif %}
                            {% if dic.code == 'invalid' %}
                                    <div class="alert alert-danger">
                                        <strong>Informe um(a) "{{ field.label |escape}}" válido(a).</strong>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error |escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {{ form | bootstrap }}
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12">
                <button type="submit" href="" class="btn btn-success pull-right">
                    Salvar
                </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{%  static 'inputmask/dist/jquery.inputmask.bundle.js' %} "></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');

        $(document).ready(function () {
            $('#id_postal_code').inputmask({regex:"[0-9]{5}-[\\d]{3}"})
        });
        //Quando o campo cep perde o foco.
        $("#id_postal_code").blur(function() {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if(validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#id_street").val("...");
                    $("#id_district").val("...");
                    $("#id_city").val("...");
                    $("#id_country").val("...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#id_street").val(dados.logradouro);
                            $("#id_district").val(dados.bairro);
                            $("#id_city").val(dados.localidade);
                            $("#id_country").val(dados.uf);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            swal(
                                'Erro!',
                                'Cep Não Encontrado',
                                'error'
                            );
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    swal(
                        'Erro!',
                        'Formato do Cep Invalido!',
                        'success'
                    );
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });
    </script>
{% endblock %}