{% extends "app.html" %}
{% load static %}
{% block page_title %}
    Agenda
{% endblock %}
{% block page_description %}
    Consultas
{% endblock %}
{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
{%  endblock %}
{% block content %}
    <style>
        .fc-day-grid-event:hover{
            cursor: pointer;
        }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{% url 'new_schedule' 'consultation' %}" class="btn btn-success pull-right" style="margin-left:20px;">
                        <i class="fa fa-plus"></i>
                         Nova Consulta
                    </a>
                    <a href="{% url 'new_schedule' 'event' %}" class="btn btn-success pull-right">
                        <i class="fa fa-plus"></i>
                         Novo Evento
                    </a>
                </div>
                <div class="box-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/locale-all.js' %}"></script>
    <script type='text/javascript'>
        $(document).ready(function() {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                timeZone: 'local',
                events: '{% url 'get_schedules' %}',
                dayClick: function (date) {
                    console.log(date.toLocaleString());
                    $('#calendar').fullCalendar('gotoDate',date);
                    $('#calendar').fullCalendar('changeView','agendaDay');
                },
                minTime:"08:00:00",
                maxTime:"19:00:00",
                eventClick: function(info) {
                    console.log(info);
                },
                locale: 'pt-br',
                header:{
                  left:   'today basicWeek month',
                  center: 'title',
                  right:  'prev next'
                },
            });
        });
    </script>
{% endblock %}