{% extends "app.html" %}
{% load static %}
{% block title %}
    Agenda
{% endblock %}
{% block page_title %}
    Agenda
{% endblock %}
{% block page_description %}
    Consultas
{% endblock %}
{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
{%  endblock %}
{% block content %}
    <style>
        .fc-day-grid-event:hover{
            cursor: pointer;
        }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{% url 'new_schedule' 'consultation' %}" class="btn btn-success pull-right" style="margin-left:20px;">
                        <i class="fa fa-plus"></i>
                         Nova Consulta
                    </a>
                    <a href="{% url 'new_schedule' 'event' %}" class="btn btn-success pull-right">
                        <i class="fa fa-plus"></i>
                         Novo Evento
                    </a>
                </div>
                <div class="box-body">
                    <div id="calendar"></div>
                </div>
                <div class="modal" id="modal-show-info" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title schedule-title"></h4>
                            </div>
                            <div class="modal-body">
                                 <ul class="list-group list-group-unbordered schedule-info">

                                 </ul>
                            </div>
                            <div class="modal-footer schedule-buttons">
                                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="cancel-address-select">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/locale-all.js' %}"></script>
    <script type='text/javascript'>
        $(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        swal(
                            'Sucesso!',
                            '{{  message }}',
                            'success'
                        );
                    {% endif %}
                {% endfor %}
            {% endif %}
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                timeZone: 'local',
                events: '{% url 'get_schedules' %}',
                dayClick: function (date) {
                    console.log(date.toLocaleString());
                    $('#calendar').fullCalendar('gotoDate',date);
                    $('#calendar').fullCalendar('changeView','agendaDay');
                },
                minTime:"08:00:00",
                maxTime:"19:00:00",
                eventClick: function(event) {
                    console.log(event);
                        $('.schedule-buttons').append("<a href='"+event.redirect_url+"' class='btn btn-info pull-right'><i class='fa fa-arrow-right'></i> Ver Detalhes</a>");
                    if(event.type==='consultation'){
                        $('.schedule-title').html("Informações da Consulta");
                        $('.schedule-info').append("<li class='list-group-item'><b>Procedimento:</b><a class='pull-right'>"+event.procedure[0].name+"</a></li>");
                        $('.schedule-info').append("<li class='list-group-item'><b>Horário:</b><a class='pull-right'>"+event.start.format("HH:mm")+"h - "+event.end.format("HH:mm")+"h</a></li>");
                        $('.schedule-info').append("<li class='list-group-item'><b>Paciente:</b><a class='pull-right'>"+event.patient[0].name+"</a></li>");
                        $('.schedule-buttons').append("<a target='_blank' href='https://api.whatsapp.com/send?phone=+55"+event.patient[0].phone.replace(')','').replace('(','').replace('-','').replace(' ','')+"&text=Olá%20"+event.patient[0].name.replace(' ','%20')+",%20Você%20tem%20uma%20consulta%20na%20data%20de%20"+event.end.format("DD/MM/YYYY")+"%20referente%20a%20um(a)%20"+event.procedure[0].name+"' class='btn btn-success pull-right'><i class='fa fa-whatsapp'></i> Enviar Mensagem</a>");
                    }else{
                        $('.schedule-title').html("Informações do Evento");
                        $('.schedule-info').append("<li class='list-group-item'><b>Nome:</b><a class='pull-right'>"+event.title+"</a></li>");
                        $('.schedule-info').append("<li class='list-group-item'><b>Duração:</b><a class='pull-right'>"+event.start.format("DD/MM/YYYY HH:mm")/*+" - "+event.end.format("DD/MM/YYYY HH:mm")+"*/+"</a></li>");
                        if(event.allDay){
                            $('.schedule-info').append("<li class='list-group-item'><b>Durará o Dia Todo:</b><a class='pull-right'><span class='label label-success'>Sim</span></a></li>");
                        }else{
                            $('.schedule-info').append("<li class='list-group-item'><b>Durará o Dia Todo:</b><a class='pull-right'><span class='label label-danger'>Não</span></a></li>");
                        }

                    }
                    $('#modal-show-info').modal('show');
                },
                locale: 'pt-br',
                header:{
                  left:   'today basicWeek month',
                  center: 'title',
                  right:  'prev next'
                },
            });
        });
    </script>
{% endblock %}