{% extends  'box.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Agendamento
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}">
{% endblock %}
{% block page_title %}
    Agendamento
{% endblock %}
{% block page_description %}
    Novo
{% endblock %}
{% block col_classes %}
    col-lg-6 col-lg-offset-3
{% endblock %}
{% block box_classes %}
    no-padding responsive-table
{% endblock %}
{% block box_header %}
        <a href="{% url 'schedule' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left">Voltar</i></a>
{% endblock %}
{% block box %}
    <form class="container-fluid" action="" method="POST">
        <div class="row">
            <div class="col-xs-12">
                {% if form.errors %}
                    {% for field in form %}
                        {% for dic in field.errors.as_data %}
                            {% if dic.code == 'required' %}
                                    <div class="alert alert-danger">
                                        <strong>O campo "{{ field.label |escape}}" é obrigatório.</strong>
                                    </div>
                            {% endif %}
                            {% if dic.code == 'invalid' %}
                                    <div class="alert alert-danger">
                                        <strong>Informe um(a) "{{ field.label |escape}}" válido(a).</strong>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error |escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {{ form | bootstrap }}
            </div>
        </div>
        {% ifequal type 'consultation' %}
            <div class="row">
                <div class="col-xs-12 col-lg-10" id="patient-content">
                     <input type="hidden" id="id_address" value="">
                    <p id="patient"class="text-muted">Selecione um Paciente</p>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <button id="patient-select-open" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-patients">
                        Selecionar
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12 col-lg-10" id="patient-content">
                     <input type="hidden" id="id_address" value="">
                    <p id="procedure" class="text-muted">Selecione um Procedimento</p>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <button id="procedure-select-open" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-procedures">
                        Selecionar
                    </button>
                </div>
            </div>
            <h4 style="margin-top:30px;">2 - Pagamento</h4>
            <hr>
            {{ form_payment | bootstrap }}
        {% endifequal %}
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" href="" class="btn btn-success pull-right">
                    Salvar
                </button>
            </div>
        </div>
    </form>

    {% ifequal type 'consultation' %}
         <div class="modal" id="modal-patients" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Buscar Paciente</h4>
                    </div>
                    <div class="modal-body table-responsive">
                        <table id="patients-table" class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <td>
                                        ID
                                    </td>
                                    <td>
                                        Nome
                                    </td>
                                    <td>
                                        RG
                                    </td>
                                    <td>
                                        CPF
                                    </td>
                                    <td>
                                        Selecionar
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="cancel-address-select">Fechar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
              <!-- /.modal-dialog -->
        </div>
        <div class="modal" id="modal-procedures" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Buscar Procedimento</h4>
                    </div>
                    <div class="modal-body table-responsive">
                        <table id="procedures-table" class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <td>
                                        ID
                                    </td>
                                    <td>
                                        Nome
                                    </td>
                                    <td>
                                        Selecionar
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="cancel-patient-select">Fechar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
              <!-- /.modal-dialog -->
        </div>
    {% endifequal %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{%  static 'inputmask/dist/jquery.inputmask.bundle.js' %} "></script>
    <script src="{%  static 'bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js' %} "></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        all_labels = $('.control-label');
        $('#id_num_plots').parent().parent().children("label").hide();
        $(document).ready(function () {
            $('#id_date').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                orientation: 'bottom'
            });
            $('#id_payday').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                orientation: 'bottom'
            });
            $('#id_backgroundColor').colorpicker();
            $('#id_textColor').colorpicker();
            $('#id_start').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                orientation: 'bottom'
            });
            $('#id_startTime').inputmask('99:99:99', {'placeholder':'hh:mm:ss'});
            $('#id_end').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                orientation: 'bottom'
            });
            $('#id_endTime').inputmask('99:99:99', {'placeholder':'hh:mm:ss'});
            $('#id_payment_form').change(function(){
                if($(this).val()=="True") {
                    $('#id_num_plots').hide(200);
                    $('#id_num_plots').val(1);
                    $('#id_num_plots').parent().parent().children("label").hide(200);
                }else{
                    $('#id_num_plots').show(200);
                    $('#id_num_plots').parent().parent().children("label").show(200);
                }
            });
            if($("#id_patient").val()!=""){
                get_patient($("#id_patient").val(),false);
            }
            if($("#id_procedure").val()!=""){
                get_procedure($("#id_procedure").val(),false);
            }

            $('#id_date').inputmask({regex: "^([0-2][0-9]|(3)[0-1])(\\/)(((0)[0-9])|((1)[0-2]))(\\/)\\d{4}$",
                                    placeholder: "dd/mm/aaaa"}); //Date
            $('#id_amount').inputmask({mask:"9{+},99"});  // decimal .2
            $('#id_amount_paid').inputmask({mask:"9{+},99"});  // decimal .2
            $('#id_num_plots').inputmask({regex: "(([0-9])|((1)[0-2]))"});  // 0 - 12
            $('#id_payday').inputmask({regex: "^([0-2][0-9]|(3)[0-1])(\\/)(((0)[0-9])|((1)[0-2]))(\\/)\\d{4}$",
                                    placeholder: "dd/mm/aaaa"}); //Date
        });

         $('#patient-select-open').click(function () {
            get_patients();
        });

         $('#procedure-select-open').click(function () {
            get_procedures();
        });

        $('#btn-edit').click(function () {
            $(this).hide(200);
            $('#btn-save').show(200);
            $('.form-control').attr('disabled',false);
        });

        function get_patients() {
            $.ajax({
                url: "{% url 'list_patients' %}",
                type:  'get',
                dataType: "json",
                success: function(data) {
                    var index, option;
                    $('#patients-table tbody').empty();
                    for (index = 0; index < data.length; ++index) {
                        option = data[index];
                        $('#patients-table tbody').append('<tr> <td id="col-id">'+ option['id'] +'</td> <td id="col-name"> '+ option['name'] +' </td> <td  id="col-RG"> '+ option['RG'] +'</td> <td  id="col-CPF"> '+ option['CPF'] +'</td>  <td><button type="button" onclick="get_patient('+option['id']+',true)"class="btn btn-success"><i class="fa fa-check"></i></button></td> </tr>');
                    }
                    $('#patients-table').dataTable();
                },
                error:function (data) {

                }
            });
        }

        function get_procedures() {
            $.ajax({
                url: "{% url 'procedures' %}",
                type:  'get',
                dataType: "json",
                success: function(data) {
                    var index, option;
                    $('#procedures-table tbody').empty();
                    for (index = 0; index < data.length; ++index) {
                        option = data[index];
                        $('#procedures-table tbody').append('<tr> <td id="col-id">'+ option['id'] +'</td> <td id="col-name"> '+ option['name'] +' </td> <td><button type="button" onclick="get_procedure('+option['id']+',true)"class="btn btn-success"><i class="fa fa-check"></i></button></td> </tr>');
                    }
                    $('#procedures-table').dataTable();
                },
                error:function (data) {

                }
            });
        }
        function get_patient(id, show_message){
            $.ajax({
                url: "/patients/view/"+id+"/",
                type:  'get',
                dataType: "json",
                success: function(data) {
                    select_patient(data, show_message)
                },
                error:function (data) {

                }
            });
        }


        function get_procedure(id, show_message){
            $.ajax({
                url: "/consultations/procedures/view_edit/"+id+"/",
                type:  'get',
                dataType: "json",
                success: function(data) {
                    select_procedure(data, show_message)
                },
                error:function (data) {

                }
            });
        }

        function select_patient(data, show_message){
            $('#patient').html(
                data.name + ', '+
                data.RG + ', '+
                data.CPF
            );
            if(show_message){
                $('#id_patient').val(data.id);
                swal(
                    'Sucesso!',
                    'Paciente Selecionado',
                    'success'
                );
                $('#modal-patients').modal('hide');
            }
        }

        function select_procedure(data, show_message){
            $('#procedure').html(
                data.name + ', R$'
            );
            if(show_message){
                $('#id_procedure').val(data.id);
                swal(
                    'Sucesso!',
                    'Procedimento Selecionado',
                    'success'
                );
                $('#modal-procedures').modal('hide');
            }
        }
    </script>
{% endblock %}