{% extends  'app.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 {% block col_classes %}{% endblock %}">
            <div class="box {% block box_classes %}{% endblock %}">
                <div class="box-header">
                    {% block box_header %} {% endblock %}
                </div>
                <!-- /.box-header -->
                <div class="box-body {% block box_header_classes %} {%  endblock %}">
                    {% block box %}{% endblock %}
                </div>
                <div class="box-footer">
                    {% block box_footer %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}