{% extends  'box.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Editar Usuário
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css' %}">
{% endblock %}
{% block page_title %}
    Usuário
{% endblock %}
{% block page_description %}
    Editar
{% endblock %}
{% block col_classes %}
    col-lg-6 col-lg-offset-3
{% endblock %}
{% block box_classes %}
    no-padding
{% endblock %}
{% block box_header %}
        <a href="{% url 'list_users' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Voltar</a>
{% endblock %}
{% block box %}
    <form class="container-fluid" action="" method="POST">
        <div class="row">
            <div class="col-xs-12">
                {% csrf_token %}
                {{ form | bootstrap }}
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12">
                <button type="submit" href="" class="btn btn-success pull-right">
                    Salvar
                </button>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}