{% extends  'box.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Pacientes
{% endblock %}

{% block page_title %}
    Pacientes
{% endblock %}
{% block page_description %}
    Listar
{% endblock %}
{% block col_classes %}
    col-lg-6 col-lg-offset-3
{% endblock %}
{% block box_classes %}
    no-padding responsive-table
{% endblock %}
{% block box_header %}
        <a href="{% url 'list_patients' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left">Voltar</i></a>
{% endblock %}
{% block box %}
    <form class="container-fluid" action="" method="POST">
        <div class="row">
            {% csrf_token %}
            {{ patient_form | bootstrap }}
        </div>
        <div class="row">
            <button type="submit" href="" class="btn btn-success">
                Salvar
            </button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        {#swal({#}
        {#     title: "HTML <small>Title</small>!",#}
        {#    html: '',#}
        {#})#}

    </script>
{% endblock %}