{% extends  'box.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Pacientes
{% endblock %}

{% block page_title %}
    Pacientes
{% endblock %}
{% block page_description %}
    Listar
{% endblock %}
{% block col_classes %}
    col-lg-6 col-lg-offset-3
{% endblock %}
{% block box_classes %}
    no-padding responsive-table
{% endblock %}
{% block box_header %}
        <a href="{% url 'list_patients' %}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left">Voltar</i></a>
{% endblock %}
{% block box %}
    <form class="container-fluid" action="" method="POST">
        <div class="row">
            <div class="col-xs-12">
                {% csrf_token %}
                {{ patient_form | bootstrap }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7" id="adress-content">
                 <input type="hidden" id="id_address" value="">
                <p id="address"class="text-muted">Selecione um Endreço</p>
            </div>
            <div class="col-xs-2">
                <button id="address-select-open" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-address">
                    Selecionar
                </button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-new-address">
                    Novo Endereço
                </button>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12">
                <button type="submit" href="" class="btn btn-success pull-right">
                    Salvar
                </button>
            </div>
        </div>
    </form>
     <div class="modal" id="modal-address" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Buscar Endereço</h4>
                </div>
                <div class="modal-body">
                    <table id="address-table" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <td>
                                    ID
                                </td>
                                <td>
                                    Rua
                                </td>
                                <td>
                                    Número
                                </td>
                                <td>
                                    Cidade
                                </td>
                                <td>
                                    Estado
                                </td>
                                <td>
                                    Bairro
                                </td>
                                <td>
                                    Selecionar
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="cancel-address-select">Fechar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
          <!-- /.modal-dialog -->
    </div>
    <div class="modal" id="modal-new-address" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Novo Endereço</h4>
              </div>
              <div class="modal-body">
                  <form  id="form-address" action="{% url 'new_address' %}" method="POST" >
                      {% csrf_token %}
                      {{ address_form | bootstrap }}
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="save_address">Salvar</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');

        $(document).ready(function () {
            {#swal("Teste");#}
            {#get_address();#}

        });
        $('#address-select-open').click(function () {
            get_address();
        });

        function get_address(selected) {
            $.ajax({
                url: "{% url 'get_address' %}",
                type:  'get',
                dataType: "json",
                success: function(data) {
                    var index, option;
                    $('#address-table tbody').empty();
                    for (index = 0; index < data.length; ++index) {
                        option = data[index];
                        $('#address-table tbody').append('<tr> <td id="col-id">'+ option['id'] +'</td> <td id="col-street"> '+ option['street'] +' </td> <td  id="col-number"> '+ option['number'] +'</td> <td  id="col-district"> '+ option['district'] +'</td> <td id="col-city">'+ option['city'] +'</td>  <td  id="col-country"> '+ option['country'] +' </td> <td><button type="button" onclick="select_address(this,'+option['id']+')"class="btn btn-success"><i class="fa fa-map-marker"></i></button></td> </tr>');
                    }
                    $('#address-table').dataTable();
                },
                error:function (data) {

                }
            });
        }

        $("#save_address").click(function () {
            {#console.log($('#form-address').serialize());#}
            console.log(csrftoken);
            save_address();
        });

        function select_address(element, id){
            $('#address').html(
                $(element).parent().parent().children("#col-street").html() + ', '+
                $(element).parent().parent().children("#col-number").html() + ', '+
                    $(element).parent().parent().children("#col-district").html() + ' - '+
                    $(element).parent().parent().children("#col-city").html() + '/'+
                    $(element).parent().parent().children("#col-country").html()
            );

            $('#id_address').val( $(element).parent().parent().children("#col-id").html());
            swal(
                'Sucesso!',
                'Endereço Selecionado',
                'success'
            );
            $('#modal-address').modal('hide');
        }
        
        function save_address() {
            $.ajax({
                headers: { "X-CSRFToken": csrftoken },
                url: "{% url 'new_address' %}",
                type:'POST',
                data : {
                    country : $('#id_country').val(),
                    district : $('#id_district').val(),
                    city : $('#id_city').val(),
                    street : $('#id_street').val(),
                    number : $('#id_number').val(),
                },
                success: function(data)
                {
                    if(data.success){
                        swal(
                            'Sucesso!',
                            data.message,
                            'success'
                        );
                         $('#address').html(
                            $('#id_street').val() + ', '+
                            $('#id_number').val() + ', '+
                            $('#id_district').val() + ' - '+
                            $('#id_city').val() + '/'+
                            $('#id_country').val()
                        );
                        $('#modal-new-address').modal('hide');
                    }else {
                        swal(
                            data.title,
                            data.message,
                            'error'
                        );
                    }
                },
                error: function (data) {
                    swal(
                        'Erro!',
                        data.message,
                        'error'
                    );
                }
            })
        }
    </script>
{% endblock %}